
.header{
    display: flex;
    background-color: rgba(3, 70, 47, 0.904);
    height: 100px;
    width: 1700px;
    border-radius: 80px;
    padding: 10px;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 1;
    justify-content: center;
}



body{
  background-color: azure;
}



.main{
    margin-top: 50px;
    margin-left: 250px;
    margin-bottom: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 800px;
    height: 200px;
    color: whitesmoke;
    background-image: url("https://www.mapfreglobalrisks.com/media/Ecodiseno-portada-933x526-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 300px;
    border-radius: 80px;
}




.div4{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 500px;
    
}



section {

    margin-inline-start: 100px;
    height: 500px;
    width: 500px;
    border-radius: 80px;
    background-color: aquamarine;
    
}

.section2{
    display: flex;
}



.div{
    margin-top: 400px;
    margin-right: 100px;
    margin-right: 4000px;
    white-space: nowrap;
}


.div1{

    margin: 50px;
    height: 300px;
    width: 300px;
    padding-top: 50px;
    border-radius: 80px;
    background-color: rgba(3, 70, 47, 0.904);
}


.div2{
    margin-top: 40px;
    margin-left: 40px;
}

.div3{
    color: rgb(11, 19, 1);
    text-align: left;
}


.button{
    color: rgb(26, 6, 6);
    background-color: aquamarine;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border: none;
    font-size: 16px;
    border-radius: 80px;
    margin: 10px;
    margin-left: 50px;


}



h1 {
    font-size: 30px;
    margin: 0;
}

p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(1, 6, 12);
    text-align: justify;
    padding: 50px;
}


